.background img{
    position: relative;
    height: 50%;
    width: 100%;
}

.bgtitle{
    position: absolute;
    color: rgb(206, 184, 184);
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    
    font-family: 'Libre Franklin', sans-serif;
}


.nav_bar ul{
    background-color: bisque;
   
    
}

.recipes ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: rgb(15, 5, 5);

}

.headertraditional{
    
    margin-left: 30%;
    font-family: 'Libre Franklin', sans-serif;
}

.Description{
    background-color: antiquewhite;
    font-family: 'Libre Franklin', sans-serif;
}

.ingridients h2{
    background-color: rgb(193, 211, 211);
    font-family: 'Libre Franklin', sans-serif;
}

.steps{
    background-color: antiquewhite;
    font-family: 'Libre Franklin', sans-serif;
}